.user-wrapper {
    .user-title {
        margin: 0;
        padding: 50px 0;

    }
    .user-username {
        margin: 0;
        padding: 20px 0;
    }
    .contacts-list-wrapper {
        .contacts-title {
        
        }
        .contacts-list {
            margin: 0;
            .list-item {
                .list-item-link {

                }
            }

        }
    }
    .info {
        .website-link {

        }
    }

}

.additional-info-wrapper {
    .posts-wrapper {
        .posts-list-title {

        }
        .posts-list {
            .post-item {
                .post-item-link {

                }
            }
        }
    }
    .albums-wrapper {
        .album-list-title {

        }
        .album-list {
            .album-item {
                .album-item-link {

                }
            }
        }
    }
}
