.post-wrapper {
    padding: 30px;
    // background-color: #ffa1c647;
    
    margin: 20px 0;
    box-shadow: 0 0 5px -2px;

    .post-title {
        font-size: 28px;
        margin: 0;
    }
    .author {
        font-size: 20px;
        margin: 10px 0;

    }
    p {
        font-size: 22px;
    }
}